body {
  background-color: '#e69665';
  display: block;
  margin: 0;
  overflow: hidden;
}

.myGrid {
  display: inline-block;
  width: 100%;
}

#cnvs {
  position:static;
  z-index: 10;
  float: left;
}

.details {
  position:static;
  font-size: 25px;
  text-align: right;
  z-index: 15;
}
