body {
  display: block;
  margin: 0;
  overflow: hidden;
}

.myGrid {
  background-color: '#e69665'
  display: inline-block;
  width: 100%;
}

#cnvs {
  position:absolute;
  z-index: 10;
  float: left;
}

.details {
  position: absolute;
  float: right;
  width: 30%;
  font-size: 25px;
  text-align: right;
  z-index: 15;
}
