@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');

html {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/background_web_cv2.png');
}

body {
  overflow: hidden;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 40vh 30vh 20vh;
  margin-left: 15%;
  margin-right: auto;
  max-width: 60%;
  max-height: 99vh;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0); */
}

.navigator {
  display: flex;
  position: fixed;
  background-color: green;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: 'Source Serif Pro', serif;
  text-align: right;
  color: #000;
  font-size: 2vw;
  font-weight: bold;
  margin: 0;
  width: inherit;
}

scroll-container {
  display: inline-block;
  width: inherit;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  scrollbar-width: none;
  scrollbar-height: none;
  scroll-snap-type: x mandatory;
}

scroll-page {
  display: inline-block;
  height: inherit;
  width: 100%;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* works on Chrome, Opera and Safari*/
scroll-container::-webkit-scrollbar {
  display: none;
}
/* works on Chrome, Opera and Safari*/
scroll-page::-webkit-scrollbar {
  display: none;
}


.details {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: 'Source Serif Pro', serif;
  text-align: right;
  color: #000;
  font-size: 2vw;
  font-weight: bold;
  margin: 0;
 }

 .social {
   color: #000000;
   font-size: 160%;
   margin: 0;
   text-align: center;
   grid-row-start: 4;
   grid-row-end: 5;
   grid-column-start: 1;
   grid-column-end: 3;
 }

p.detail {
  margin: 5% 0;
}

#face{
 grid-row-start: 1;
 grid-row-end: 5;
 grid-column-start: 1;
 grid-column-end: 3;
 margin: 0;
 padding: 0;
 height: 100%;
 width: inherit;
}

#name {
  font-size: 300%;
  color: #000000;
  margin: 8% 0 2% 0%;
  animation: opac 3s linear 2s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

#title {
  color: #000000;
  animation: opac 3s linear 3s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}


#city {
  color: #000000;
  animation: opac 3s linear 4s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

#status {
  color: #000000;
  animation: opac 3s linear 5s;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.bio {
  display: none;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  color: #000000;
  background-color: rgba(255,255,255,0);
  font-family: 'Source Serif Pro', serif;
  font-size: 2vw;
  text-align: center;
  vertical-align: middle;
  margin: 15% 5%;
}

#my_bio {
  margin: auto auto;

}

.fa {
  padding: 1%;
  width: 9%;
  color: white;
  text-align: center;
  border-radius: 8%;
  vertical-align: middle;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
      transform: translateY(-3px) scale(1.1);
}

.fa-github {
  background: #ffffff;
  color: black;
}

.fa-facebook {
  background: #3B5998;
}

.fa-linkedin {
  background: #007bb5;
}


.fa-instagram {
  background: #125688;
}

/* for large screen, containers should stay in the center and stop scaling */
@media screen and (min-width: 1350px) {
  .details {
    font-size: 28px;
  }

  #face {
    margin-left: 0%;
  }
}

/* for smaller screens */
@media screen and (max-width: 100vh) {
  .grid {
    margin-left: 0;
    max-width: 100%;
  }

  .details {
    grid-column-start: 1;
    text-align: right;
    margin-top: 4vh;
    font-size: 6vw;
    padding-right: 0%;
  }

  p.detail {
    margin:auto 0;
  }

  .card {

  }

  #face {
    /* margin-left: 3%; */
  }

}

@keyframes opac {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

/* this creates problems because the margin enlarges the container and
*  disrupts the whole structure of the page */
@keyframes slide_in_left {
  from {margin-left: 500px;}
  to {margin-left: 0px;}
}
