body {
  background-color: #e69665;
  display: block;
  margin: 0;
  overflow: hidden;
}

.myGrid {
  display: inline-block;
  width: 100%;
}

#cnvs {
  display: block;
  position:static;
  float: left;
}

.details {
  display: inline;
  position: static;
  font-size: 25px;
  text-align: right;
}
